body { background: #EEEEEE; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.87); -webkit-tap-highlight-color: rgba(255, 255, 255, 0); tap-highlight-color: rgba(255, 255, 255, 0); font-weight:300; font-size: 14px; }

html /deep/ a { text-decoration: none; }

html /deep/ paper-icon-button /deep/ core-icon { display: block; }

*, *::after, *::before { box-sizing: border-box; }

:host { display: block; position: relative; }

paper-fab { background-color: #FF4081; }

core-menu a { color: rgba(0, 0, 0, 0.87); }

/*.content { background-color: #f9f9f9; width: 100%; max-width: 960px; margin: 20px auto; padding: 20px; min-height: 600px; }*/
.content { background-color: #f9f9f9; margin: 20px; padding: 20px; min-height: 1600px; }

core-header-panel { height: 100%; }

core-toolbar { color: white; background-color: #006ADC; }

[drawer] core-toolbar div { font-size: 13px; }
[drawer] core-toolbar div span { font-size: 20px; display: block; }

[drawer] { background-color: white; }

[main] core-toolbar { background-color: #333; overflow: hidden; }

[main] core-toolbar > div { margin-left: 30px; margin-top: 125px; font-size: 36px; }

core-toolbar [icon="menu"] { padding-left: 0; }

#menuBtn { margin-right: 0; }

core-toolbar [icon="more-vert"] { padding-right: 0; }

#title { margin-left: 16px; }
.title { font-size: 40px; }

paper-menu-button paper-item { color: rgba(0, 0, 0, 0.87); }

paper-tabs { background-color: #777; color:#fff; font-size: 14px; font-weight: 100; margin-left:-10px; }
paper-tabs paper-tab {  }

paper-item a { pointer-events:none; }
paper-input { display: block; }

paper-radio-group.blue paper-radio-button::shadow #ink[checked] {color: #4285f4;}
paper-radio-group.blue paper-radio-button::shadow #onRadio {background-color: #4285f4;}
paper-radio-group.blue paper-radio-button[checked]::shadow #offRadio {border-color: #4285f4;}
paper-radio-button {display: inline-block; }

paper-button[raised].blue { background: #4285f4; color: #fff;}
paper-button[raised].black { background: #000; color: #fff; max-width: 10%;}

paper-checkbox {padding: 0 20px 0 0;}

paper-tabs /deep/ #ink { color: #eee; }
paper-tabs /deep/ #selectionBar {  background-color: #000; }



.home .content { width:25%; float: right; margin:200px 10% 50px 0; min-height: 1500px; background-color: #fff; position: static; }
.home .content_ { width:100%; }
.home .title { font-size: 54px; display: inline-block; }
.home .titler { width: 34%; margin-left: 2.5%; }
/*.home .titler { color:#fff; margin: 300px 50px 0; }*/
.home paper-menu-button { float: right; z-index: 10; padding-top: 10px; }
.main { width: 60%; float: left; padding-right: 5%;}
.guild { width: 35%; float: right; background-color: #ccc; padding: 0 10px;}
.core-header { line-height: 60px; font-size: 18px; padding: 0 10px; background-color: #4F7DC9; color: #FFF; transition: height 0.2s; }

.tabbed { margin:0 -8px -15px !important; }
core-animated-pages.bottom { width:100%; margin: -34px 0 0; }

.subtitle { padding: 10px 32px; background-color: #555 }
0
#list a { color: #666666; text-decoration: none; }

.row { padding: 16px 16px; cursor: pointer; }

.row core-image { width: 40px; height: 40px; border-radius: 50%; }

#list a:nth-of-type(1n) core-image { background-color: #FCE4EC; }

#list a:nth-of-type(2n) core-image { background-color: #F8BBD0; }

#list a:nth-of-type(3n) core-image { background-color: #F48FB1; }

#list a:nth-of-type(4n) core-image { background-color: #F06292; }

#list a:nth-of-type(5n) core-image { background-color: #EC407A; }

.row div { margin-left: 16px; }

.chk{ margin-bottom: 10px;}

paper-fab { position: fixed; bottom: 16px; right: 16px; }

@media screen and (max-width: 640px) { 
	:host { background-color: transparent; }
}
